header {
    background-color: rebeccapurple;
    color: white;
    padding: 10px;
}

header p {
    text-align: center;
}

section {
    background-color: papayawhip;
    text-align: center;
}

section ul li {
    display: inline;
    text-align: center;
    padding: 0 10px;
}

section ul li a {
    color: purple;
}

h2 {
    text-align: center;
    background-color: palegoldenrod;
}