body header {
    background-color: rebeccapurple;
    color: white;
    padding: 10px;
}

body header p {
    text-align: center;
}

body section {
    background-color: papayawhip;
    text-align: center;
}

body section ul li {
    display: inline;
    text-align: center;
    padding: 0 10px;
}

body section ul li a {
    color: purple;
}

body h2 {
    text-align: center;
    background-color: palegoldenrod;
}