main {
    background-color: lightgray;
    padding-bottom: 100px;
}
img {
    width: 50%;
    margin-left: 215px;
}

h1 {
    font-family: sans-serif;
    margin: 5px 75px;
    font-size: 25px;
}
h4 {
    font-family: sans-serif;
    margin: 5px 135px;
    font-weight: 300;
}

hr {
    width: 100%;
}

fieldset {
    width: 50%;
    margin: 0 25%;
    border: 1px solid grey;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 2px gray;
    height: 525px;
    padding: 0;
}

input[type=text] {
    margin: 5px;
    height: 30px;
    
}

label[for=male], label[for=female], label[for=custom]{
    font-size: 15px;
    font-family: sans-serif;
}

input[type=radio] {
    float: right;
}

#services_id {
    font-size: 15px;
    height: 40px;
    width: 123px;
    margin-left: 8px;
    border-radius: 5px;
}

#first_id{
    width: 180px;
    margin-left: 10px;
}

#last_id {
    width: 180px;
}

#number_id {
    margin-left: 10px;
    width: 382px;
}

#password_id {
    margin-left: 10px;
    width: 382px
}

label[for=gender_id], label[for=services_id] {
    font-size: 12px;
    font-family: sans-serif;
    margin-left: 8px;
}

p {
    font-family: sans-serif;
    font-size: 10px;
    color: gray;
    padding-left: 5px;
}

input[type=submit] {
    margin-left: 125px;
    background-color: green;
    color: white;
    font-family: sans-serif;
    width: 150px;
    height: 30px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-weight: 600;
}

a {
    margin-left: 110px;
    text-decoration: none;
    font-family: sans-serif;
}

#radio {
    display: flex;
    align-items: center;
}

#radio_id {
    border: 1px solid gray;
    padding: 10px;
    margin-left: 8px;
    width: 104px;
    border-radius: 5px;
}

span {
    color: blue;
}